{% extends 'base.html.twig' %}


{% block title %}Intervention index{% endblock %}



{% block body %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                {{ message | raw }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="row text-center">
        <div class="col-12">
            <h1 class="m-5">Demande d'intervention</h1>
            {{ include('intervention/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
